<div class="row">
  <div class="span6 offset3">
   <h2>SignIn</h2>

    <%= form_for(:sessions, url:sessions_path) do |f| %>
      
      <div><%= f.label :email %><br />
      <%= f.email_field :email , :autofocus => true%></div>

      <div><%= f.label :password %><br />
      <%= f.password_field :password %></div>

      <%= f.submit "Signin" , class: "btn btn-large btn-primary"%>
  
     <% end %>
   </div>
</div>