<tr class = "shot_details_row">
<td>
	<% if shot.new_record? != true %>
      <span><%= link_to shot.number, '#' , "data-id" => shot.id, id: "Shot_number"%> </span>
    <% end %>
</td>
<td >
	<span id = "assigned_user_tooltip" > <%= link_to truncate(shot.assigned_user_names, :length => 10), '#', options = {:rel => 'tooltip',"data-original-title" => "#{shot.assigned_user_names}", "data-placement" => "right"} %></span>
</td>
<td> <span> <%= shot.status %> </span> </td>
<td>
	<span> <%= shot.deliverydate.strftime("%d %b") %></span>
</td>

<%= render partial: 'shared/shot_details', locals: {shot: shot}%>

</tr>


