<h1>  Media Management System</h1>
<%= link_to "New Project", '#',class: "new_project"%> | 
<%= link_to "Artist List", users_path%>

<div id = "create_project" >
  <div class="row">
   <div class="span6 offset3">
    <%= form_for @project, url: projects_path do |f| %>
      <%= render 'shared/error', object: f.object %>
      <div><%= f.label :project_Name %><br />
      <%= f.text_field :projectname, :autofocus => true %></div>
      <%= f.submit "Save" , class: "btn btn-large btn-primary"%>
     <% end %>
    </div>
   </div>
</div>
<h4> Project lists </h1>
<%= render partial:'shared/list',collection: @projects ,as: :project %>
<span class = "paginatation"><%= will_paginate %></span>

